---
const { title, subtitle, desc, href } = Astro.props;
---

{href ? (
  <a
    href={href}
    target="_blank"
    rel="noopener noreferrer"
    class="block bg-white/5 hover:bg-white/10 border border-white/10 rounded-xl p-4 md:p-5 transition cursor-pointer"
  >
    <h3 class="text-lg font-semibold">{title}</h3>
    {subtitle && <p class="text-sm text-gray-300 mb-1">{subtitle}</p>}
    {desc && <p class="text-sm text-gray-400">{desc}</p>}
  </a>
) : (
  <div class="bg-white/5 border border-white/10 rounded-xl p-4 md:p-5">
    <h3 class="text-lg font-semibold">{title}</h3>
    {subtitle && <p class="text-sm text-gray-300 mb-1">{subtitle}</p>}
    {desc && <p class="text-sm text-gray-400">{desc}</p>}
  </div>
)}
